body {
    background-size: cover;
    background: url("images/bg.jpg") fixed center;
    margin:0;
}
@font-face {
    font-family: Font_strong;
    src: url(font/Montserrat-ExtraLight.ttf);
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: Font_strong_2;
    src: url("font/Montserrat-Regular.ttf");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: Font_strong_3;
    src: url("font/Montserrat-Bold.ttf");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: Font_strong_4;
    src: url("font/Montserrat-Light.ttf");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: Font_strong_5;
    src: url("font/Montserrat-Medium.ttf");
    font-style: normal;
    font-weight: 200;
}
body #loader {
    width: 1500px ;
    height:700px;
    float: left;
}
#loader #content {
    width: 1150px;
    height: 950px;
    float: left;
    background: #1a1a1a;
    opacity: 0.8;
    margin-left: 30px;

}
#content #header {
    height: 20px;
    width: 1100px;
    float: left;
}
#header .clock-item {
    display: block;
    width:150px;
    height:20px;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    float:left;
}
#header.lang-area {
    display: block;
    float: right;
    width: 70px;
    height: 20px;
}
#content #nghe-si {
    background: #1a1a1a;
    width: 1100px;
    height:100px;
    text-align: center;
    font-family: Font_strong_3 ;
    src: url("font/Montserrat-Bold.ttf");
    font-style: normal;
    font-weight: 200;
    font-size: 48px;
    color: white;
    padding-top: 30px;
}
#anh-nghe-si{
    margin-left: 20px;
}
#anh-nghe-si .anh{
    float:left;
    margin:10px;
    width:250px;
    height:250px;
    border:2px solid #555;
    overflow:hidden;
}
/* */
#anh-nghe-si .anh img{
    width: 250px;
    height: 250px;
}
.details{
    width:250px;
    height:250px;
    color:#fff;
    text-align:center;
}
.menu{
    /*position: fixed;*/
    background: #090909;
    height: 650px;
    width: 280px;
    float: left;
    /*opacity: 0.8;*/
}
.menu header{
    width: 300px;
}

.main-menu {
    width: 280px;
    height: 330px;
    float: left;
    margin: auto;
    padding-top: 50px;
    position: relative;
}
#menu {
    width: 280px;
    height: 330px;
    float: left;
    position: relative;
    float: left;
}
#menu ul {
    margin: 0px;
    padding:0px;
    float: left;
}
#menu ul li {
    list-style: none;
    line-height: 40px;
    position: relative;
}
#menu ul li a {
    text-decoration: none;
    font-size: 15px;
    font-weight:lighter;
    display: block;
    width: 240px;
    color: white;
    font-family: Font_strong_4;
    padding-left: 10px;
}
#menu ul li a:hover {
    background: #F88A0C;
}
#menu .dropdown {
    position: absolute;
    left:250px;
    top:0;
    display: none;
    background-color: #090909;
    z-index: 10;
}
#menu ul li:hover .dropdown {
    display: block;
}
#menu .sub-menu {
    position: absolute;
    left:250px;
    top:0;
    display: none;
    background-color: #090909;
    z-index: 10;
}
#menu ul li:hover .sub-menu {
    display:block;
}
.footer-bottom {
    background: transparent;
    height: 200px;
    /*width: 240px;*/
    clear: both;
    position:relative;
    margin:auto;
}
.footer-bottom input {
    background-color: #4a4a4a;
    color: white;
    font-size: 15px;
    font-family: Font_strong_4;
    width: 230px;
    height: 25px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-color: transparent;
    margin: auto;
    text-align: left;
}
.fa {
    padding: 20px;
    padding-left: 40px;
    font-size: 30px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: transparent;
    color: white;
}

.fa-youtube {
    background: transparent;
    color: white;
}
.fa-instagram {
    background: transparent;
    color: white;
}
.footer-bottom p {
    color: grey;
    font-family: Font_strong_4;
    font-size: 16px;
    text-align: center;
}
/*css anh2 start*/
#anh-2{
    position:relative;
}
#anh-2 img{
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}
#anh-2 .details{
    position: relative;
    height: 215px;
    width: 230px;
    margin-left: 10px;
    /*margin-bottom: 1px;*/
    /*margin-top: 0px;*/
    background-color: #92278f;
    -webkit-transform: scale(0);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
    z-index:99;
    opacity: 0.7;

}
#anh-2:hover .details{
    -webkit-transform: scale(1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
}
/*css anh2 end*/

/*css anh3*/
#anh-3{
    position:relative;
}
#anh-3 img{
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}
#anh-3 .details{
    position: relative;
    height: 215px;
    width: 230px;
    margin-left: 10px;
    /*margin-bottom: 1px;*/
    /*margin-top: 0px;*/
    background-color: #92278f;
    -webkit-transform: scale(0);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
    z-index:99;
    opacity: 0.7;

}
#anh-3:hover .details{
    -webkit-transform: scale(1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
}

.hieu-ung{
    position: relative;
    z-index: 99;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}
/*css anh3 end*/
/*css anh4 start*/
#anh-4{
    position:relative;
}
#anh-4 img{
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}
#anh-4 .details{
    position: relative;
    height: 215px;
    width: 230px;
    margin-left: 10px;
    /*margin-bottom: 1px;*/
    /*margin-top: 0px;*/
    background-color: #92278f;
    -webkit-transform: scale(0);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
    z-index:99;
    opacity: 0.7;

}
#anh-4:hover .details{
    -webkit-transform: scale(1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
}
/*css anh4 end*/
/*css anh5 start*/
#anh-5{
    position:relative;
}
#anh-5 img{
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}
#anh-5 .details{
    position: relative;
    height: 215px;
    width: 230px;
    margin-left: 10px;
    /*margin-bottom: 1px;*/
    /*margin-top: 0px;*/
    background-color: #92278f;
    -webkit-transform: scale(0);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
    z-index:99;
    opacity: 0.7;

}
#anh-5:hover .details{
    -webkit-transform: scale(1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
}
/*css anh5 end*/
/*css anh 6*/
#anh-6{
    position:relative;
}
#anh-6 img{
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}
#anh-6 .details{
    position: relative;
    height: 215px;
    width: 230px;
    margin-left: 10px;
    /*margin-bottom: 1px;*/
    /*margin-top: 0px;*/
    background-color: #92278f;
    -webkit-transform: scale(0);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
    z-index:99;
    opacity: 0.7;

}
#anh-6:hover .details{
    -webkit-transform: scale(1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
}

.hieu-ung{
    position: relative;
    z-index: 99;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}
/*css anh7 start*/
#anh-7{
    position:relative;
}
#anh-7 img{
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}
#anh-7 .details{
    position: relative;
    height: 215px;
    width: 230px;
    margin-left: 10px;
    /*margin-bottom: 1px;*/
    /*margin-top: 0px;*/
    background-color: #92278f;
    -webkit-transform: scale(0);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
    z-index:99;
    opacity: 0.7;

}
#anh-7:hover .details{
    -webkit-transform: scale(1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
}
/*css anh7 end*/
/*css anh8 start*/
#anh-8{
    position:relative;
}
#anh-8 img{
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}
#anh-8 .details{
    position: relative;
    height: 215px;
    width: 230px;
    margin-left: 10px;
    /*margin-bottom: 1px;*/
    /*margin-top: 0px;*/
    background-color: #92278f;
    -webkit-transform: scale(0);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
    z-index:99;
    opacity: 0.7;

}
#anh-8:hover .details{
    -webkit-transform: scale(1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
}
/*css anh8 end*/
/*css anh9 start*/
#anh-9{
    position:relative;
}
#anh-9 img{
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}
#anh-9 .details{
    position: relative;
    height: 215px;
    width: 230px;
    margin-left: 10px;
    /*margin-bottom: 1px;*/
    /*margin-top: 0px;*/
    background-color: #92278f;
    -webkit-transform: scale(0);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
    z-index:99;
    opacity: 0.7;

}
#anh-9:hover .details{
    -webkit-transform: scale(1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
}
/*css anh9 end*/
/*css anh10 start*/
#anh-10{
    position:relative;
}
#anh-10 img{
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}
#anh-10 .details{
    position: relative;
    height: 215px;
    width: 230px;
    margin-left: 10px;
    /*margin-bottom: 1px;*/
    /*margin-top: 0px;*/
    background-color: #92278f;
    -webkit-transform: scale(0);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
    z-index:99;
    opacity: 0.7;

}
#anh-10:hover .details{
    -webkit-transform: scale(1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
}
/*css anh10 end*/
/*css anh11 start*/
#anh-11{
    position:relative;
}
#anh-11 img{
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}
#anh-11 .details{
    position: relative;
    height: 215px;
    width: 230px;
    margin-left: 10px;
    /*margin-bottom: 1px;*/
    /*margin-top: 0px;*/
    background-color: #92278f;
    -webkit-transform: scale(0);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
    z-index:99;
    opacity: 0.7;

}
#anh-11:hover .details{
    -webkit-transform: scale(1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
}
/*css anh 11 end*/
/*css anh 12 start*/
#anh-12{
    position:relative;
}
#anh-12 img{
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}
#anh-12 .details{
    position: relative;
    height: 215px;
    width: 230px;
    margin-left: 10px;
    /*margin-bottom: 1px;*/
    /*margin-top: 0px;*/
    background-color: #92278f;
    -webkit-transform: scale(0);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
    z-index:99;
    opacity: 0.7;

}
#anh-12:hover .details{
    -webkit-transform: scale(1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
}
/*css anh12 end*/

/*css anh13 start*/
#anh-13{
    position:relative;
}
#anh-13 img{
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}
#anh-13 .details{
    position: relative;
    height: 215px;
    width: 230px;
    margin-left: 10px;
    /*margin-bottom: 1px;*/
    /*margin-top: 0px;*/
    background-color: #92278f;
    -webkit-transform: scale(0);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
    z-index:99;
    opacity: 0.7;

}
#anh-13:hover .details{
    -webkit-transform: scale(1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 450ms;
}
/*css anh 13 end*/